# Ejercicio 1

Paso 1: Importar librerías necesarias

In [1]:
import pandas as pd

Paso 2: Importar dataset desde esta dirección: https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv

In [2]:
df = pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")

Paso 3: Asigna el fichero a un dataframe llamado chipo

In [3]:
chipo = df
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

Paso 4: ¿Cuál es el precio de cada item? <br>
*imprime un dataframe con solo dos columnas: item_name e item_price

In [4]:
chipo[['item_name', 'item_price']]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

Paso 5: Ordena el dataframe por el nombre del item

In [5]:
chipo.sort_values(by=['item_name'])

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

Paso 6: ¿Cuál es la cantidad del item del pedido más caro?

In [6]:
def item_price_to_float(x):
    x = x.replace('$', '')
    return float(x)

item_price_float = chipo['item_price'].apply(item_price_to_float)

chipo.iloc[item_price_float.idxmax()]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                 $44.25
Name: 3598, dtype: object

Paso 7: ¿Cuántas ensaladas veganas se han pedido?

In [7]:
chipo['item_name'].value_counts().get('Veggie Salad')

6

Paso 8: ¿Cuántas veces ha pedido la gente más de una lata de soda (canned soda)?

In [23]:
soda_rows = chipo.loc[chipo['item_name'] == 'Canned Soda'] # obtener las filas que tienes 'Canned Soda'
soda_rows.loc[chipo['quantity'] > 1].shape[0] # contar las filas que tengan mas de 1 'Canned Soda'

20

# Ejercicio 2: Grupos

Paso 1: importar librerías necesarias

In [13]:
# ya tenemos pandas importado

Paso 2: Importar el dataset desde esta dirección: https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

In [9]:
df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user", sep='|')

Paso 3: asignar los datos a una variable llamada users

In [10]:
users = df
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

Paso 4: ¿Cuál es la edad media por ocupación?

In [11]:
users['age'].mean()

34.05196182396607

Paso 5: Descubre cuál es el ratio de mujeres por puesto de trabajo y ordénalo de mayor a menor

Paso 6: Por cada puesto de trabajo, calcula la edad máxima y mínima

Paso 7: Calcula la edad media para cada tipo de trabajo y género

Paso 8: Para cada tipo de trabajo, muestra el porcentaje de hombres y mujeres

# Ejercicio 3: Merge

Repaso: info interesante sobre joins / merge https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/

paso 1: importa las librerías necesarias

Paso 2: Crea 3 DataFrames basándote en el estos datos

In [12]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

Paso 3: Asigna cada uno a las variables data1, data2, data3

Paso 4: Une los 2 primeros dataframes (por filas) y asígnalos a la variable all_data

Paso 5: Une los dos dataframes por columnas y asigna el resultado a all_data_col

Paso 6: Imprime los datos data3

Paso 7: Une all_data y data3 por la columna subject_id

Paso 8: Une solo los datos que tengan el mismo subject_id en data1 y data2

Paso 9: Une todos los valores data1 y data2, cruzando aquellos registros que coincidan en ambas tablas

# Ejercicio 4: Borrado

Paso 1: importa todas las librerías necesarias

Paso 2: importa los datos desde esta dirección: https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data

Paso 3: asigna los datos a la variables wine

Paso 4: Borra la primera, cuarta, septima, novena, decimoprimera, decimotercera y la decimocuarta columnas

Paso 5: Asigna las columnas como se indica a continuación:

1) alcohol
2) malic_acid
3) alcalinity_of_ash
4) magnesium
5) flavanoids
6) proanthocyanins
7) hue

Paso 6: Asigna los valores de las primeras 3 filas de la columna alcohol a NaN

Paso 7: Asigna las filas 3 y 4 de la columna magnesio a NaN

Paso 8: Asigna los valores 10 en alcohol y 100 en magnesio a los datos que sean NaN

Paso 9: Cuenta la cantidad de datos faltantes

Paso 10: Borra las columnas que contengan valores NaN

Paso 15: Resetea el index para que empiece desde 0 otra vez